h1 {
  font-size: 2.0em;
  margin: 20px 0 0 0;
  font-weight: 400;   
}
h3 { 
  color: blue;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
  font-size:17px;
}
input {
  width: 225px;
  margin: 8px 0;
  background-color: #dfdfdf;
  font-size:17px;
}
button {
  background-color: #008CBA;
  color: white;
}
.error{
  color: red;
  font-size: 20px;
}
.success{
  color: green;
  font-size: 20px;
} 